body{
    max-width: max-content;
    margin: auto;
    font-size: 15px;
}
table, th, td {
    border: 1px solid;    
    background-color: #1565c0;
  }

  table {
    border-collapse: collapse;
  }

  .topic, .topic1, .topic2, .topic3, .topic4, .topic5 {
    color: #8F00FF;
    text-align: center;
  }

  .link1{
    color: #1565c0;
  }

  form{
    margin-bottom: 15px;
  }


    
